@import "bootstrap.min.css";
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(https://fonts.gstatic.com/s/robotocondensed/v19/ieVg2ZhZI2eCN5jzbjEETS9weq8-19eDpCEobdNc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url(https://fonts.gstatic.com/s/robotocondensed/v19/ieVj2ZhZI2eCN5jzbjEETS9weq8-19eLDwM4.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url(https://fonts.gstatic.com/s/robotocondensed/v19/ieVg2ZhZI2eCN5jzbjEETS9weq8-19eDtCYobdNc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(https://fonts.gstatic.com/s/robotocondensed/v19/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCQYag.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v19/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7CA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(https://fonts.gstatic.com/s/robotocondensed/v19/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCQYag.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8OUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}
.site-footer {
  border-top: 7px solid #c144317e;
  background: #983627;
  font-family: 'Open Sans', sans-serif;
}
@media (max-width: 767px) {
  .site-footer {
    padding: 20px;
  }
}
.site-footer li {
  line-height: 1.3em;
  padding: 0.2em 0;
  font-weight: 700;
}
.site-footer a {
  color: #fff;
}
.site-footer a:hover,
.site-footer a:focus {
  color: #e68e80;
}
.site-footer .global-logo {
  width: 200px;
  margin-top: 10px;
  mix-blend-mode: screen;
}
.site-footer .left-logo {
  width: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer-content,
.footer-links {
  display: flex;
}
.footer-content > div,
.footer-links > div {
  flex: 1;
  margin-bottom: 10px;
}
@media (min-width: 980px) {
  .footer-partner {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 20px;
  }
}
@media (max-width: 980px) {
  .footer-content {
    flex-direction: column;
  }
}
.footer-title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.02em;
  padding-bottom: 0.6em;
  color: rgba(255, 255, 255, 0.5);
}
.footer-disclaimer {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin: 20px -20px;
  padding: 20px;
  padding-bottom: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
}
.footer-disclaimer p {
  margin-bottom: 5px;
}
.icon-linkto {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #d87465;
  position: relative;
  transition: box-shadow 0.2s;
}
.icon-linkto::before {
  content: "";
  display: block;
  position: absolute;
  width: 22%;
  height: 22%;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  top: 30%;
  right: 30%;
}
.icon-linkto::after {
  content: "";
  display: block;
  position: absolute;
  height: 50%;
  width: 10%;
  width: 2px;
  background: #fff;
  top: 30%;
  right: 29%;
  transform: rotate(45deg);
  transform-origin: top left;
}
.icon-hover {
  box-shadow: 0 0 0 0.3em #d87465;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}
.headline-xxl {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.9rem;
  font-weight: 300;
  line-height: 1.3em;
  margin-bottom: 20px;
}
.headline-xl {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.3em;
  margin-bottom: 20px;
}
.title-xl {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3em;
  letter-spacing: 0em;
  margin-bottom: 20px;
}
.title-l {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0em;
}
.title-m {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.02em;
}
.heading-xl {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.02em;
}
.heading-l {
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.02em;
}
.heading-m {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.02em;
}
.heading-s {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.02em;
}
.select-label {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #983627;
}
.badge {
  font-size: 0.9rem;
}
.badge-number {
  min-width: 1.5em;
  height: 1.5em;
  padding: 0.2em;
  text-align: center;
  background: #c1443136;
  text-shadow: none;
  transition: box-shadow 0.2s;
}
.text-m {
  font-size: 16px;
}
.text-light {
  font-weight: 300;
  letter-spacing: 0.02em;
}
.check-default {
  font-weight: 400;
  margin: 0;
  display: inline-block;
}
.check-default::after {
  content: none;
}
.check-default span {
  color: #4A4A4A;
  align-items: flex-start;
  display: flex;
}
.check-default span::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 10px;
  text-align: center;
  color: transparent;
  line-height: 1.3em;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #e3e3e3;
  margin-right: 0.6em;
}
.check-default input {
  display: none;
}
.check-default input:checked + span::before {
  background: #d87465;
  border-color: transparent;
  color: #fff;
}
.radio-default {
  font-weight: 400;
  margin: 0;
  display: inline-block;
}
.radio-default::after {
  content: none;
}
.radio-default span {
  color: #4A4A4A;
  align-items: flex-start;
  display: flex;
}
.radio-default span::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 10px;
  text-align: center;
  color: transparent;
  line-height: 1.3em;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #e3e3e3;
  margin-right: 0.6em;
}
.radio-default input {
  display: none;
}
.radio-default input:checked + span::before {
  background: #d87465;
  border-color: transparent;
  color: #fff;
}
.radio-default span::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-top: 0.3em;
}
.check-resources {
  font-weight: 400;
  margin: 0;
  display: inline-block;
}
.check-resources::after {
  content: none;
}
.check-resources span {
  color: #4A4A4A;
  align-items: flex-start;
  display: flex;
}
.check-resources span::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 10px;
  text-align: center;
  color: transparent;
  line-height: 1.3em;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #e3e3e3;
  margin-right: 0.6em;
}
.check-resources input {
  display: none;
}
.check-resources input:checked + span::before {
  background: #d87465;
  border-color: transparent;
  color: #fff;
}
.check-resources span {
  color: #b0b0b0;
  word-break: break-word;
}
.check-resources input:checked + span {
  color: #4A4A4A;
}
.check-resources:hover span {
  color: #4A4A4A;
}
.check-resources:hover span::before {
  box-shadow: 0 0 0 0.2em rgba(216, 116, 101, 0.5);
}
.check-resources-small {
  font-weight: 400;
  margin: 0;
  display: inline-block;
}
.check-resources-small::after {
  content: none;
}
.check-resources-small span {
  color: #4A4A4A;
  align-items: flex-start;
  display: flex;
}
.check-resources-small span::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 10px;
  text-align: center;
  color: transparent;
  line-height: 1.3em;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #e3e3e3;
  margin-right: 0.6em;
}
.check-resources-small input {
  display: none;
}
.check-resources-small input:checked + span::before {
  background: #d87465;
  border-color: transparent;
  color: #fff;
}
.check-resources-small span {
  color: #b0b0b0;
  word-break: break-word;
}
.check-resources-small input:checked + span {
  color: #4A4A4A;
}
.check-resources-small:hover span {
  color: #4A4A4A;
}
.check-resources-small:hover span::before {
  box-shadow: 0 0 0 0.2em rgba(216, 116, 101, 0.5);
}
.check-resources-small span::before {
  font-size: 8px;
  width: 13px;
  height: 13px;
  margin-right: 0.6em;
  margin-top: 0.3em;
}
.badge {
  line-height: 1.1em;
}
.label {
  height: 13px;
  border-radius: 13px;
  padding: 0 0.4em;
  text-shadow: none;
  margin: 0 0.6em;
  font-size: 10px;
  font-weight: 600;
}
.label.dataset-private {
  padding: 0 0.5em;
  vertical-align: super;
  letter-spacing: 0.04em;
}
.label-inverse {
  background-color: #7d7d7d;
}
.label[data-format*=json],
.label[data-format*=JSON] {
  background-color: #F26522;
}
.label[data-format*=csv],
.label[data-format*=CSV] {
  background-color: #FCAF17;
}
.label[data-format*=xls],
.label[data-format*=XLS] {
  background-color: #AB3933;
}
html {
  overflow-x: hidden;
}
body {
  background: #FCFAFA;
  overflow-x: hidden;
}
.hero {
  background: #983627;
  background-image: url(/bg.png);
}
.navbar {
  margin-bottom: 0;
}
.account-masthead {
  background-color: #983627;
  background: #983627;
}
.masthead {
  background-color: #C14531;
  background: #C14531;
}
.masthead .logo img {
  width: 120px !important;
  margin-top: 16px;
}
.account-masthead .account ul li {
  color: white;
  border: none;
}
.account-masthead .account ul li a {
  color: white;
}
.account-masthead .account ul li a:hover {
  color: white;
  background-color: #C14531;
}
.nav-pills > li > a {
  border-radius: 0px;
  padding: 5px 15px;
  margin: 10px 0px;
  text-transform: uppercase;
}
.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li a:focus,
.masthead .navigation .nav-pills li.active a {
  background-color: transparent;
  -webkit-box-shadow: inset 0px -14px 0px 0px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0px -14px 0px 0px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px -14px 0px 0px rgba(255, 255, 255, 0.3);
}
.hero-title {
  color: white;
  text-align: center;
  line-height: 50px;
  margin: 0px auto;
  font-size: 2.5em;
  font-weight: lighter;
  padding-top: 200px;
  padding-bottom: 40px;
  width: 80%;
}
.tags {
  color: white;
}
.tag {
  background: #983627;
  color: white;
  margin: 0 10px;
  border: none;
  box-shadow: none;
}
.tag:hover {
  background-color: #C14531 !important;
  border: none !important;
  box-shadow: none !important;
}
.tag:active {
  text-decoration: none;
  color: white;
}
.tag:visited {
  text-decoration: none;
  color: white;
}
.search-form {
  padding: 0px;
  margin-bottom: 0px;
  padding-bottom: 5px;
  border-bottom: none;
  width: 100%;
  margin: 0 auto;
  font-weight: lighter;
}
.search-container {
  width: 70%;
  padding-bottom: 220px;
  margin: 0 auto;
}
.search-form .search-input.search-giant input {
  background: #983627b7;
  border: none;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.5em;
}
.search-form .search-input.search-giant input:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid white !important;
}
.title {
  color: #983627;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
.title p {
  color: #222;
}
.top-rule {
  border-top: 3px solid #983627;
  width: 10%;
}
.top-rule-div {
  border-top: 2px solid #983627;
  width: 40px;
  margin: 20px 0px;
}
.top-rule-div-2 {
  border-top: 2px solid #0090fc;
  width: 40px;
  margin: 20px 0px;
}
.row2 {
  margin: 0 auto !important;
}
.card {
  border: 1px solid #d6d6d6;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  box-sizing: border-box;
  width: 80%;
  min-width: 300px;
  margin: 20px auto;
}
.card h4 {
  color: #983627;
  padding: 10px;
}
.card.dark {
  color: white !important;
  background: #983627;
  border: none;
}
.card.dark h4 {
  color: white;
}
.sec {
  background: #98362711;
  margin: 30px 0px;
  padding: 30px 0px;
}
.card-2 {
  background: white;
  -webkit-box-shadow: 0px 6px 12px rgba(152, 54, 39, 0.03);
  -moz-box-shadow: 0px 6px 12px rgba(152, 54, 39, 0.03);
  box-shadow: 0px 6px 12px rgba(152, 54, 39, 0.03);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 20px auto;
}
.card-2 h4 {
  margin-top: 20px;
  color: #983627;
  font-weight: bold;
}
.card-2 .card-2-con {
  background: #98362711;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 5px;
  margin-right: 20px;
}
.card-2 .card-2-img {
  width: 40px;
}
.show-all {
  display: flex;
  flex-direction: row;
  vertical-align: bottom;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 30px auto;
}
.show-all button {
  border: none;
  border-radius: none;
  padding: 10px 20px;
  background-color: #983627;
  color: white;
}
.side-rule {
  border-top: 1px solid #983627;
  width: 30%;
}
.pat-img {
  margin: 20px auto;
}
.pat-img-con {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.top-desc {
  background: #310d08b7;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}
.top-desc h2 {
  width: 60%;
  font-weight: 300;
  line-height: 50px;
}
.no-p-top {
  padding-top: 0;
}
.card-3 {
  background: white;
  -webkit-box-shadow: 0px 6px 12px rgba(152, 54, 39, 0.03);
  -moz-box-shadow: 0px 6px 12px rgba(152, 54, 39, 0.03);
  box-shadow: 0px 6px 12px rgba(152, 54, 39, 0.03);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 20px auto;
}
.card-3 img {
  width: 100px;
}
.btn-primary {
  background-color: #983627;
  border: none;
}
.btn-primary:hover {
  background-color: #C14531;
}
.btn-primary:focus {
  background-color: #C14531;
}
@media (max-width: 768px) {
  .hero {
    background: #983627;
    background-image: url(/bg.png);
  }
  .hero-title {
    font-size: 1.5em;
    padding-top: 150px;
    width: 90%;
  }
  .search-container {
    padding-bottom: 200px;
    width: 90%;
  }
  .title {
    width: 80%;
  }
  .top-desc h2 {
    width: 90%;
    font-weight: 300;
    line-height: 50px;
  }
}
