<div role="main" class="hero">
  <div class="container">
    <div class="row row1">
      <p class="hero-title">
        Blood Information System for Crisis Intervention and Management.
      </p>
    </div>
    <div class="row row1">
      {% block search %} {% snippet 'home/snippets/search.html' %} {% endblock
      %}
    </div>
  </div>
</div>
<div role="main">
  <div class="container">
    <!-- <div class="title">
      <hr class="top-rule" />
      <h3>Accessiblity features</h3>
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div> -->
    <div class="row row2">
      <div class="col-md-6">
        <div class="card">
          <img width="50px" src="/img/blood1.png">
          <h4>Blood Transfusion</h4>
          <p>All relevant data related to the South African blood transfusion system.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img width="70px" src="/img/crisis1.png">
          <h4>Crisis Management</h4>
          <p>All relevant data related to the South African blood crisis management system.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid sec">
    <div class="container">
      <div class="title">
        <hr class="top-rule" />
        <h3>
          The answers to your basic questions and even more complex questions can be mined from our datasets. Here is the number of datasets, organisations & groups available for mining.
        </h3>
      </div>
      <div class="row row2">
        <div class="col-md-4">
          <div class="card-2">
            <div class="card-2-con"><img class="card-2-img" src="/img/dataset1.png"></div>
            <div>
              <h4>500</h4>
              <p>Number of Datasets</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-2">
            <div class="card-2-con"><img class="card-2-img" src="/img/org1.png"></div>
            <div>
              <h4>255</h4>
              <p>Number of Organizations</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-2">
            <div class="card-2-con"><img class="card-2-img" src="/img/group1.png"></div>
            <div>
              <h4>50</h4>
              <p>Number of Groups</p>
            </div>
          </div>
        </div>
      </div>

      <div class="show-all">
        <hr class="side-rule"> <button>Show all datasets</button> <hr class="side-rule">
      </div>
    </div>
  </div>


  <div class="container partners">
    <div class="title">
      <hr class="top-rule" />
      <h3>
       Partners
      </h3>
    </div>
    <div class="row row2">
      <div class="col-md-3 pat-img-con"><img class="pat-img" src="/img/who.png"></div>
      <div class="col-md-3 pat-img-con"><img class="pat-img" src="/img/unicef.png"></div>
      <div class="col-md-3 pat-img-con"><img class="pat-img" src="/img/core.png"></div>
      <div class="col-md-3 pat-img-con"><img class="pat-img" src="/img/bill.png"></div>
    </div>
  </div>
</div>
