{% trans %}
<div class="container about-sec">
  <div class="title">
    <hr class="top-rule" />
    <h3>About BISKIT</h3>
  </div>
  <div class="row row2">
    <div class="col-md-6">
      <div class="card-3">
        <div>
            <img src="/img/bis.png" />
            <div class="top-rule-div"></div>
        </div>
        <p>
          Aliqua id fugiat nostrud irure ex duis ea quis id quis ad et. Sunt qui
          esse pariatur duis deserunt mollit dolore cillum minim tempor enim.
          Elit aute irure tempor cupidatat incididunt sint deserunt ut voluptate
          aute id deserunt nisi.
        </p>
      </div>
    </div>
    <div class="col-md-6">
        <div class="card-3">
            <div>
                <img src="/img/eblue.png" />
                <div class="top-rule-div-2"></div>
            </div>
            <p>
              Aliqua id fugiat nostrud irure ex duis ea quis id quis ad et. Sunt qui
              esse pariatur duis deserunt mollit dolore cillum minim tempor enim.
              Elit aute irure tempor cupidatat incididunt sint deserunt ut voluptate
              aute id deserunt nisi.
            </p>
          </div>
    </div>
  </div>
</div>

<div class="container about-sec">
  <div class="title">
    <hr class="top-rule" />
    <h3>Partners</h3>
  </div>
  <div class="row row2">
    <div class="col-md-3 pat-img-con">
      <img class="pat-img" src="/img/who.png" />
    </div>
    <div class="col-md-3 pat-img-con">
      <img class="pat-img" src="/img/unicef.png" />
    </div>
    <div class="col-md-3 pat-img-con">
      <img class="pat-img" src="/img/core.png" />
    </div>
    <div class="col-md-3 pat-img-con">
      <img class="pat-img" src="/img/bill.png" />
    </div>
  </div>
</div>
{% endtrans %}
