{% trans %}
<div class="container about-sec">
  <div class="title">
    <hr class="top-rule" />
    <h3>About BISKIT</h3>
  </div>
  <div class="row row2">
    <div class="col-md-6 about-bis-contain">
      <div class="card-3">
        <div>
            <img src="/img/bis.png" />
            <div class="top-rule-div"></div>
        </div>
        <p class="about-bis-header">
            The project “Blood Information System for Crisis Intervention and Management (BISKIT)” aims to contribute
            to the resilience of the South African blood supply system in times of crises. By exploiting the advantages of
            digital technology, the project is going to;
        </p>
        <p class="about-bis-footer">
            1. develop a demonstrator of a data-based information system (including a user interface) enabling practitioners working in blood establishments to make informed decisions concerning the distribution and transport of blood and blood products during and after a crisis. <br>
            2. prepare crisis management plans for blood establishments (including crisis communication strategies) which take the need for cooperation between different government layers, hospitals, transfusion centres, transport companies etc. into account.<br>
            3. design training concepts to build up crisis management capacities among local staff based on the “train-the-trainer”-approach.<br>
        </p>
      </div>
    </div>
    <!-- <div class="col-md-6">
        <div class="card-3">
            <div>
                <img src="/img/eblue.png" />
                <div class="top-rule-div-2"></div>
            </div>
            <p>
              Aliqua id fugiat nostrud irure ex duis ea quis id quis ad et. Sunt qui
              esse pariatur duis deserunt mollit dolore cillum minim tempor enim.
              Elit aute irure tempor cupidatat incididunt sint deserunt ut voluptate
              aute id deserunt nisi.
            </p>
          </div>
    </div> -->
  </div>
</div>

<div class="container about-sec">
  <div class="title">
    <hr class="top-rule" />
    <h3>Partners</h3>
  </div>
  <div class="row row2">
    <div class="col-md-3 pat-img-con">
      <img class="first-img" src="/img/crisis.png" />
    </div>
    <div class="col-md-3 pat-img-con">
      <img class="second-img" src="/img/berlin2.png" />
    </div>
    <div class="col-md-3 pat-img-con">
      <img class="third-img" src="/img/pei.png" />
    </div>
    <div class="col-md-3 pat-img-con">
      <img class="fourth-img" src="/img/tud2.png" />
    </div>
  </div>
</div>
{% endtrans %}
